:host {
  display: block;
}

.balance-entry-item {
  background: var(--ion-color-light);
}

.balance-item {
  --background: var(--ion-color-light);
  --padding-start: 0;
  --inner-padding-end: 0;
  padding: 0.15rem 1rem;
}

ion-item-options {
  --background: transparent;
  padding: 0.15rem 1rem;
}
