<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="balance-content">
  <ion-list lines="none" class="balance-list">
    @if (groups().length === 0) {
      <div class="empty-state">
        <p class="empty-state__title">Aún no registras gastos</p>
        <p class="empty-state__subtitle">
          Cuando agregues gastos aparecerán aquí.
        </p>
      </div>
    } @else {
      @for (group of groups(); track group.key) {
        <ion-item-divider class="balance-divider">
          <ion-label class="balance-divider__label">
            {{ group.label }}
          </ion-label>
        </ion-item-divider>
        @for (expense of group.expenses; track expense.id) {
          <ion-item class="balance-item">
            <ion-label>
              <span class="balance-item__amount">
                {{ expense.amountLabel }}
              </span>
              <span class="balance-item__description">
                {{ expense.description }}
                <span class="balance-item__time">
                  {{ expense.timeLabel }}
                </span>
              </span>
            </ion-label>
          </ion-item>
        }
      }
    }
  </ion-list>
</ion-content>
