:host {
  display: block;
}

.balance-item {
  --background: transparent;
  --padding-start: 0;
  --inner-padding-end: 0;

  &__amount {
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--ion-color-dark);
  }

  &__description {
    display: block;
    margin-top: 0.25rem;
    font-size: 0.875rem;
    text-transform: capitalize;
    color: var(--ion-color-medium);

    &::first-letter {
      text-transform: uppercase;
    }

    .balance-item__time {
      color: var(--ion-color-medium-tint);
      font-size: 0.675rem;
      font-style: italic;
      text-transform: none;
    }
  }
}

ion-item-options {
  --background: transparent;
}


ion-icon {
  margin-right: .75rem;
  font-size: 24px;

  &.expense {
    color: var(--ion-text-color-step-400);
    transform: rotate(45deg);
  }

  &.income {
    color: rgb(var(--ion-color-income-rgb));
    transform: rotate(-135deg);
  }
}
