ion-title {
  text-transform: capitalize;
}

.balance-content {
  --background: var(--ion-color-light);
  // background: var(--ion-item-background, var(--ion-background-color, #fff));
}

.balance-content::part(scroll) {
  display: flex;
  flex-direction: column;
}

.balance-summary {
  display: block;
  // padding-bottom: 0.75rem;
  width: 100%;
}

.balance-summary-card {
  margin: 1rem 1rem;
  border-radius: var(--radius-lg);

  &__header {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
    // gap: 0.3rem;
  }

  &__title {
    font-size: 1.75rem;
    font-weight: 700;
  }

  &__subtitle {
    font-size: 0.875rem;
    color: var(--ion-color-medium);
    text-transform: none;
    letter-spacing: 0.01em;
    font-weight: 500;

    &--highlight {
      font-weight: 600;
      color: var(--ion-color-primary);
      // color: var(--ion-color-dark);
      // text-transform: capitalize;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    gap: 0.45rem;
    font-size: 0.70rem;
    color: var(--ion-color-medium);
  }

  &__icon {
    font-size: 1rem;
    // color: var(--ion-color-medium);
    color: var(--ion-color-primary);

  }
}

.balance-summary-card--expenses {
  .balance-summary-card__title {
    color: var(--ion-color-danger);
  }
}

.balance-summary-card--income {
  .balance-summary-card__title {
    color: var(--ion-color-success);
  }
}

.balance-list {
  // margin-top: 15px;
  background: transparent;
  flex: 1;
  display: flex;
  flex-direction: column;
  // padding: 0rem 1rem 3rem;
  padding: 0rem 0rem 3rem;
}

.balance-day-group {
  margin-bottom: .85rem;
  // padding-bottom: .85rem;
}

.balance-divider {
  background: rgba(var(--ion-color-light-rgb), 0.8);
  -webkit-backdrop-filter: blur(5px) saturate(180%);
  backdrop-filter: blur(5px) saturate(180%);
  padding: 0 0 0rem;

  &__label {
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.03em;
    text-transform: lowercase;
    color: var(--ion-color-medium);
    padding: 0rem 1rem;
  }
}

.balance-add-entry {
  ion-fab-button {
    --background: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary-shade);
    --box-shadow: 0 4px 12px rgba(255, 115, 32, 0.35);
  }

  ion-icon {
    color: #ffffff;
    font-size: 1.5rem;
  }
}

