<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Balance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="balance-content">
  <ion-list lines="none" class="balance-list">
    @if (groups().length === 0) {
      <div class="empty-state">
        <p class="empty-state__title">Aún no registras gastos</p>
        <p class="empty-state__subtitle">
          Cuando agregues gastos aparecerán aquí.
        </p>
      </div>
    } @else {
      @for (group of groups(); track group.key) {
        <ion-item-group class="balance-day-group">
          <ion-item-divider class="balance-divider" sticky="true">
            <ion-label class="balance-divider__label">
              {{ group.label }}
            </ion-label>
          </ion-item-divider>
          @for (expense of group.expenses; track expense.id) {
            <app-balance-expense-item
              [expense]="expense"
              (editRequested)="handleEditExpense(expense.id)"
              (deleteRequested)="handleDeleteExpense(expense.id)"
            ></app-balance-expense-item>
          }
        </ion-item-group>
      }
    }
  </ion-list>
</ion-content>
