<ion-item-sliding class="balance-entry-item">
  <ion-item class="balance-item" lines="none">
    <ion-icon name="arrow-up-circle-outline" class="expense"></ion-icon>
    <ion-label>
      <span class="balance-item__amount">
        {{ item().amountLabel }}
      </span>
      <span class="balance-item__description">
        {{ item().description }}
        <span class="balance-item__time">
          ({{ item().timeLabel }})
        </span>
      </span>
    </ion-label>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="medium" (click)="handleEdit()">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="handleDelete()" (ionSwipe)="handleDeleteWithSwipe()">
    <!-- <ion-item-option color="danger" (click)="handleDelete()" (ionSwipe)="handleDeleteWithSwipe()" expandable> -->
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
