<ion-item-sliding class="balance-entry-item">
  <ion-item class="balance-item" lines="none">
    <app-entry-record [itemSignal]="item()" [showTime]="true" [coloredAmount]="false"></app-entry-record>
  </ion-item>
  <ion-item-options side="end">
    <ion-item-option color="medium" (click)="handleEdit()">
      <ion-icon slot="icon-only" name="create-outline"></ion-icon>
    </ion-item-option>
    <ion-item-option color="danger" (click)="handleDelete()" (ionSwipe)="handleDeleteWithSwipe()">
    <!-- <ion-item-option color="danger" (click)="handleDelete()" (ionSwipe)="handleDeleteWithSwipe()" expandable> -->
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-item-option>
  </ion-item-options>
</ion-item-sliding>
